/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

/* COLORS */
:root {
  --dropdown-stroke: #626262;
  --header-black: #1B1B1B;
  --header-section-blue: #383a48;
  --bg-dark: #1f1e25;
  --med-gray: #666666;
}

html, body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

#data-selection-container {
  display: flex;
  flex-direction: column;
  background: var(--bg-dark);
  color: white;
}

#data-viewer-header {
  background: var(--header-black);
	height: 4.0vh;
	color: white;
	display: flex;
	align-items: center;
	padding: 0px 20px;
}

#available-datasets {
	background: var(--header-section-blue);
	height: 4.0vh;
	display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 16px;
  border-bottom: 1px solid #5e6171;
  box-sizing: border-box;
}

#icon-user-settings:hover {
  cursor: pointer;
}

#sites-list, .site-datasets-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.site-datasets-container {
  display: none;
}

.site-datasets-container.expanded {
  display: block;
}


.site-container {
  border-bottom: 1px solid var(--header-section-blue);
  display: flex;
  flex-direction: column;
}

.site-container.expanded {
  border-bottom: none;
}

label.simulation-id-label {
	margin-left: 12px;
}

#full-site-list {
  overflow-y: scroll;
	max-height: 92vh;
}

.site-header {
  height: 4.0vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background: #545766;
}

.header-diag-plots-full {
  height: 4.0vh;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background: #2b2b35;
  display: flex;
  color: white;
}

#data-viewer-container {
  height: 96vh;
  display: flex;
  /* background: var(--bg-dark); */
}

#dataset-list-view {
  position: relative;
  width: 30vw;
  border-right: 1px solid var(--header-black);
  font-size: 0.9rem;
}

#btn-launch {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.simulation-meta {
  font-size: 0.875rem;
}

.dataset-item-container {
  padding: 20px;
	display: flex;
	align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #5e6171;
  background: #1f2027;
}

.icon-expand:hover,
.icon-collapse:hover {
  cursor: pointer;
}

#map-view {
  width: 70vw;
  background: #16171d;
}


#user-settings-darken {
  display: none;
}

#user-db-container {
  flex-grow: 1;
  background: #545766;
  padding: 40px;
  border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#user-db-container > span {
  font-size: 14px;
}

#user-db-path-container {
	margin: 16px 0px;
	padding: 12px;
	border: 1px solid #22242c;
	background: #313441;
	border-radius: 4px;
	border-width: 1px;
  font-size: 14px;
  color: #969696;
}

#user-db-update-container {
  display: flex;
  justify-content: flex-end;
}

input[type="file"] { 
  z-index: -1;
  position: absolute;
  opacity: 0;
}

label#select-db {
	padding: 8px 12px;
	font-size: 12px;
	margin-top: 8px;
	border-radius: 16px;
	background: #323441;
}

label#select-db:hover {
  cursor: pointer;
}

#user-settings-darken.visible {
  width: 100vw;
	height: 100vh;
	position: fixed;
  display: block;
	z-index: 999;
	background: #0c0d13bd;
}

#user-settings-modal {
  position: absolute;
	z-index: 999;
	min-width: 45vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  border-radius: 8px;
  display: none;
}

#user-settings-header {
  height: 40px;
	background: var(--header-section-blue);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	align-items: center;
	padding: 0px 12px;
  justify-content: space-between;
}

div#icon-settings-close-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#icon-settings-close-container:hover {
  cursor: pointer;
}

#icon-settings-close {
  width: 20px;
  height: 20px;
}

#user-settings-modal.visible {
  display: flex;
  flex-direction: column;
}







#app-header {
  color: white;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  background: var(--header-black);
  height: 4.0vh;
}

.section-header {
  height: 4vh;
  color: white;
  /* background: var(--header-section-blue); */
  border-top: 3px solid var(--header-section-blue);
  display: flex;
  align-items: center;
  z-index: 9999;
}

.section-header.simulation-header {
  border-top: none;
  background: #2b2b35;
}

.section-header-label {
  font-weight: 300;
  font-size: 0.875em;
  margin-left: 20px;
}

#slices-loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slices-loader-text {
  color: white;
}

#slices-container {
  height: 54vh;
}

#diagnostic-plots-container {
  height: 46vh;
}

#diagnostic-plots-container.full {
  height: 96vh;
}

#slices-container,
#diagnostic-plots-container {
  background: var(--bg-dark);
}

#slice-columns {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.slice-column {
  border-left: 3px solid var(--header-section-blue);
  height: 100%;
  width: 75vw;
  display: flex;
	flex-direction: column;
}

.slice-column-tabs-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 12px 20px;

}

.slice-column-tab {
  height: 100%;
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: #a5b6ce;
}

.slice-column-tab:hover {
  cursor: pointer;
}

.slice-column-tab.active-slice {
  background: #b6c8ff;
  height: 20px;
  color: black;
  border-radius: 50px;
}

.slice-column-label {
  font-size: 0.875em;
  margin-top: 2px;
  font-weight: 300;
}

.slice-container-inner {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
}

.horizontal-slice,
.vertical-slice,
.diagnostic-plot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #b7b7b7;
}

.diagnostic-plot-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.diagnostic-plot {
  margin-left: 16px;
  margin-right: 16px;
}

.color-legend {
  margin-top: 1px;
  margin-bottom: 10px;
}

.vertical-contour,
.horizontal-contour {
  margin-right: 40px;
  display: flex;
}

.horizontal-slice-contours,
.vertical-slice-contours {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 12px;
}

#header-cube-controls {
  display: flex;
  flex-direction: column;
}

#cube-controls {
  width: 25vw;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #666666;
}

#cube-controls.HORIZONTAL {
  flex-direction: row;
}

#cube-controls.VERTICAL {
  flex-direction: column;
}

#subgrid-dims {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  font-size: 1em;
}

#horizontal-ctrl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#vertical-ctrl {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#vertical-xy-toggle {
  display: inline-flex;
  flex-direction: row;
  border: 1px solid #cacce7;
  justify-content: space-evenly;
  height: 22px;
  border-radius: 3px;
}

.vertical-xy-toggle-opt {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-xy-toggle-opt:hover {
  cursor: pointer;
}

.vertical-xy-toggle-opt.y-active {
  background: #cacce7;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 1px solid #cacce7;
  color: black;
}

.vertical-xy-toggle-opt.x-active {
  background: #cacce7;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 1px solid #cacce7;
  color: black;
}


#scrubber-altitude {
  width: 2px;
  margin-top: 12px;
  margin-bottom: 16px;
  -webkit-appearance: slider-vertical;
  background: #d3d3d3;
}

#scrubber-depth {
  height: 2px;
  margin-left: 12px;
  margin-right: 12px;
}

.axis-label {
  width: 65px;
  text-align: center;
}

#scrubber-altitude::-webkit-slider-thumb {
  /* -webkit-appearance: none;
  appearance: none;*/
  /* width: 2.8vh; */
  /* height: 3px; */
  background: #cacce7;
  border-radius: 40px;
}

#time-scrubber {
  display: flex;
  position: relative;
  font-weight: 300;
  color: white;
  /* padding: 0px 12px; */
  background: #2b2b35;
  height: 4vh;
  flex-direction: row;
  align-items: center;
  font-size:  0.7em;
}

#time-scrubber-label-container {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 12px;
  padding-left: 8px;
  /* background: #3e465a; */
  width: 70px;
}

span.time-scrubber-label {
  /* font-size: 0.8em; */
  margin-left: 12px;
  color: white;
}

.time-range-label {
  margin: 0px 20px;
}

#time-scrubber-inner {
  flex-grow: 1;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

#time-scrubber-ctrl {
  z-index: 998;
  top: 35%;
  /* transform: translateY(-50%); */
  width: calc(100%);
  position: absolute;
  height: 1px;
  background: #d3d3d3;
  outline: none;
  -webkit-appearance: none;
  margin: 0;
}

#time-scrubber-ctrl:hover {
  cursor: pointer;
}

#time-scrubber-ctrl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  /* height: 3vh; */
  height: 20px;
  background: #00b6ff;
  border-radius: 4px;
}

.sliderticks {
  position: absolute;
  width: calc(99.9999%); /* hack for tiny pixel */
  display: flex;
  height: 100%;
  /* align-items: center; */
  top: 25%;
  justify-content: space-between;
}


div.tick {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #D3D3D3;
}

.tick > div, .tick.data-loaded > div {
	margin-top: 18px;
  font-size: 0.5em;
	z-index: 9999999!important;
}

div.tick.data-loaded {
  background: #00b6ff;
  z-index: 998;
}

/* DIAGNOSTIC PLOTS + TKE */
#diagnostic-plots-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

#diagnostic-plots-inner {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #b7b7b7;
}

#diagnostic-plots {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #b7b7b7;
  padding-left: 50px;
}

.diagnostic-y-axis {
  position: absolute;
  left: 0;
  padding-left: 20px;
  margin-top: 35px;
}

.plot {
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
}

#diagnostic-plot-ctls {
  display: flex;
  height: 100%;
  align-items: center;
  flex-grow: 1;
  margin-top: 8px;
}

#extents-toggle ,
#compare-toggle,
#diag-alt-var-dropdown {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  color: white;
  font-size: 0.75em;
  align-items: center;
}

span#extents-label,
span#compare-toggle,
span#alt-var-label {
  margin-right: 8px;
}

/* Switch */
/* https://upmostly.com/tutorials/build-a-react-switch-toggle-component */
.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 16px;
}

#alt-var-scrubber-container {
  display: flex;
  color: #666666;
  flex-direction: column;
}

.alt-var-scrubber-timerange {
  height: 100%;
  background: #383a48;
  display: flex;
  color: white;
  padding: 0px 12px;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
}

.alt-variable-scrubber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  background: #383a48;
}

rect.selection {
  fill: #b6c8ff;
  stroke: none;
}

/* DROPDOWN */
.dropdown-container {
  position: relative;
  z-index: 999;
}

.dropdown-header {
  color: white;
  background: #3e3d3d;
  /* width: 130px; */
  height: 24px;
  border-radius: 3px;
  font-size: 0.675em;
  padding-left: 12px;
  padding-right: 32px;
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid var(--dropdown-stroke); */
  cursor: default;
}

.dropdown-header::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid white;
  /* padding: 8px 8px; */
  margin: 8px;
  position: absolute;
  right: 0px;
  top: 1px;
  z-index: 1;
  pointer-events: none;
}

.dropdown-header:hover {
  cursor: pointer;
}

ul.dropdown-list {
  margin: 0;
	list-style-type: none;
  padding: 0;
  position: absolute;
  display: block;
  width: 100%;
}

li.dropdown-item {
  margin: 0;
  background: var(--bg-dark);
}

li.dropdown-item:hover {
  background: #666666;
}

.dropdown-item-btn {
  height: 24px;
  width: 145px;
  background: #3e3d3d;
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.7em;
  color: white;
  border: 1px solid #48494e;
  margin-top: -1px;
}

.dropdown-item-btn:hover {
  cursor: pointer;
  background: #666666;
}

input[type="button"] {
  outline: none;
}

/* not recommended for accessibility reasons */
:focus { outline: none; }

.icon-container {
  height: 4vh;
  width: 4vh;
  background: #2b2b35;
  display: flex;
  justify-content: center;
  align-items: center;
}

#expand-collapse-slices {
  position: absolute;
  right: 0;
}

.icon-container:hover {
  cursor: pointer;
}

.icon-download {
  width: auto;
  height: 100%;
  display: flex;
  margin-left: 12px;
}

.icon-download:hover {
  cursor: pointer;
}

.icon-plus {
  width: 20px;
  height: 20px;
  background: #3e3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.globe-icon-svg {
  margin-left: 8px;
}

.globe-icon-svg:hover {
  cursor: pointer;
}

div#diagnostic-data-legend {
  display: flex;
  flex-direction: row;
  font-size: 0.75em;
  margin-right: 24px;
  margin-left: 24px;
  align-items: center;
  justify-content: center;
}

.diagnostic-legend {
  display: flex;
  margin-right: 24px;
}

.diagnostic-color.bomex-1 {
  background: #9adbff;
  /* background: rgba(154,219,255,.4); */
}


.diagnostic-color.bomex-2 {
  background: #C5A1D7;
  /* background: rgba(197,161,215,.4); */
}

.diagnostic-color {
  width: 14px;
  height: 14px;
  background: green;
  margin-right: 8px;
  border-radius: 50%;
}
